{% extends 'blog/main.html' %}
{% block main_section %}
  <h3>Страница с контактами</h3>
{% endblock main_section %}

{% block aside_news_section %}
  <h3><b>5 лучших игровых движков для создания игр</b></h3>
  <img src="https://itproger.com/img/news/1487318371.jpg" class="img-thumbnail mb-1">
  <p>С развитием сферы игростроения появилось огромное множество всевозможных движков. Выбрать подходящий бывает очень не просто. Мы расскажем вам про 5 лучших игровых движков для создания игр всех тематик.</p>
  <a href="https://itproger.com/news/20" target="_blank">
    <button class="btn btn-warning">Посмотреть</button>
  </a>
{% endblock aside_news_section %}
