{% extends 'blog/main.html' %}
{% block main_section %}
    {% for post in news %}
      <div class="alert alert-light">
        <h1>{{ post.title }}</h1>
        <p>{{ post.text|striptags|truncatechars:200 }}</p> <!--safe для возможности редактирования в статье html, striptags тоже, а truncatechars для возможности обрезки статьи и установки троеточий-->
        <div class="row">
          <div>
            {% if post.avtor.profile.img %}
              <img src="{{ post.avtor.profile.img.url }}" alt="{{ post.avtor }}" class="user_image">
            {% else %}
              <img src="/pictures/default.jpg" alt="{{ post.avtor }}" class="user_image">
            {% endif %}
          </div>
          <div class="mt-2">
            <span class="text-muted"><b>Дата:</b> {{ post.date|date:"d E Y в H:i:s" }}</span>
            <p><b>Автор:</b> <a href="{%url 'user-news' post.avtor%}">{{post.avtor}}</a></p>
          </div>
        </div>
        <a href="{% url 'news-detail' post.id %}" class="btn btn-outline-warning">Читать далее</a>
      </div>
    {% endfor %}

  {% if is_paginated%}
    {% if page_obj.has_previous %} <!--проверка есть ли предыдущая страничка-->
      <a href="/" class="btn btn-outline-warning">Начало</a>
      <a href="?page={{page_obj.previous_page_number}}" class="btn btn-outline-warning">Предыдушая</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
      {%if num == page_obj.number%}
          <button class="btn btn-warning">{{num}}</button>
      {%elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3'%}
      <a href="?page={{num}}" class="btn btn-outline-warning">{{num}}</a>
      {%endif%}
    {%endfor%}

    {% if page_obj.has_next %} <!--проверка есть ли следующая страничка-->
      <a href="?page={{page_obj.next_page_number}}" class="btn btn-outline-warning">Следующая</a>
      <a href="?page={{page_obj.paginator.num_pages}}" class="btn btn-outline-warning">Последняя</a>
    {% endif %}

  {% endif %}

{% endblock main_section %}

{% block aside_news_section %}
  <h3><b>10 фильмов и сериалов для программистов</b></h3>
  <img src="https://itproger.com/img/news/1477674462.jpg" class="img-thumbnail mb-1">
  <p>Когда становишься на путь программирования очень хочется посмотреть какие-либо фильмы или же сериалы на эту тематику. Представляем вам подборку из 10 фильмов для программистов.	</p>
  <a href="https://itproger.com/news/1" target="_blank">
    <button class="btn btn-warning">Посмотреть</button>
  </a>
{% endblock aside_news_section %}
