{% extends 'blog/main.html' %}
{% load crispy_forms_tags %}
{% block main_section %}
  <div class="form-section">
    <h2>Вы точно хотите удалить статью "{{object.title}}"?</h2>
    <form method="POST">
      {% csrf_token %}
      <button type="submit" class="btn btn-outline-danger">Да, удалить!</button>
        <a href="{%url 'news-detail' object.id%}">Нет, отмена</a>
    </form>

  </div>
{% endblock main_section %}

{% block aside_news_section %}
  <h3><b>10 лучших книг по программированию</b></h3>
  <img src="https://itproger.com/img/news/1487168862.jpg" class="img-thumbnail mb-1">
  <p>Книги по программированию это достаточно сложный материал, который не так уж просто читать. Поэтому чтобы получить максимальную пользу из книг по программированию необходимо выбирать правильных авторов и правильные книги.</p>
  <a href="https://itproger.com/news/18" target="_blank">
    <button class="btn btn-warning">Посмотреть</button>
  </a>
{% endblock aside_news_section %}
